<% layout('boilerplate') -%>
<%- include('partials/nav.ejs') %>
<h1 style="text-align:center">Estatisticas</h1>
<br>

<section class="w3-container">
    <h3 class="w3-border-bottom w3-text-asphalt">Número de pessoas:<span style="margin-right:0.25em;color:red; float:right"><%= dados.pessoas %></span></h3>
    <h3 class="w3-border-bottom">Total de passagens:<span style="margin-right:0.25em;color:red; float:right"><%= dados.totalPass %></span></h3>
    <h3 class="w3-border-bottom">Total Esperado:<span style="margin-right:0.25em;color:red; float:right"><%= dados.totalEsp %></span></h3>
    <h3 class="w3-border-bottom">Total Recebido:<span style="margin-right:0.25em;color:red; float:right"><%= dados.totalRec %></span></h3>
    <h3 class="w3-border-bottom">Diferença:<span style="margin-right:0.25em;color:red; float:right"><%= dados.totalEsp - dados.totalRec %></span></h3>
</section>


<section class="w3-container">
    <h3 class="w3-center">Passageiros</h3>
<div>
    <% for(let prop in dados.geral){ %>
        <button onclick="acordion('<%= prop %>')" class="w3-button w3-block w3-left-align w3-asphalt"><%= prop %>:</button>
        <section id="<%= prop %>" class="w3-container w3-hide">
            <% dados.geral[prop].forEach((item) => { %>
                <p><%= item.nome %></p>
            <% }); %>
            
        </section>
    <% }; %>
    
    
</div>
</section>
<p class="w3-center w3-red">-//-</p>

<%/*%>
-‐------‐----‐----‐----‐----‐----‐----‐----‐
<section class="w3-container " >
<% passageiros.forEach((item) => { %>
	<div class="w3-card w3-padding w3-margin-bottom " style="position:relative" >
	     <% if(Number(item.total)>=(item.diasq*evento.valorDia)){ %>
               <span class=""style="position:absolute;top:0;right:0">&#9996;</span> 
            <% } %> 
    	<h4 class="" ><%= item.nome %><span class="" style="margin-right:0.25em;color:red; float:right"> <%= item.diasq %></span></h4>
		<div>
		    <% item.diasd.forEach((dia) => { %>
		       <p class="" > <%= dia  %></p>
		    <% }); %>
		</div>
		<a class="w3-border w3-padding-small  w3-round-xxlarge" style="text-decoration:none" href="/passageiro/<%= item.id %>">&#128451;</a>

	</div>
<% }); %>
</section>
<% */ %>


<script>
    function acordion(id) {
        alert()
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>